@model WFARTHA.Controllers.Anexo

@foreach (var item in Model)
{
    <tr>
        <td>
            @item.a1
        </td>
        <td>
            @item.a2
        </td>
        <td>
            @item.a3
        </td>
        <td>
            @item.a4
        </td>
        <td>
            @item.a5
        </td>
    </tr>
}
